@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #BF0D18;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 8%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.container-principal {
    padding: 5% 8%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 82px;
}

.container-principal__conteudo {
    width: 50%;
    margin-right: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.container-principal__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.container-principal__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.container-principal__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.container-principal__link__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.container-principal__links__navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    transition: background 0.3s;
}

.container-principal__links__navegacao:hover {
    background-color: #BF0D18;
}

.container-principal__links__navegacao:hover i {
    color: #FFFFFF;
}

.container-principal__links__navegacao i {
    font-size: 2rem;
    color: var(--cor-terciaria);
}

.imagem-principal {
    width: 488px;
    height: 550px;
    border-radius: 16px;
}

/* .estrela-vermelha {
    position: absolute;
    top: 324px;
    right: 160px;
    z-index: 3;
}

.borda-vermelha {
    position: absolute;
    z-index: 1;
    width: 466px;
    height: 526px;
    left: 802px;
    top: 159px;
}

.efeito-visual1 {
    position: absolute;
    top: 358px;
    right: 187px;
    z-index: 3;
}

.efeito-visual2 {
    position: absolute;
    right: 174px;
    top: 668px;
    z-index: 3;
} */

.container-principal__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 480px) { /* Ajuste a largura conforme necessário */
    
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        display: flex;
        justify-content: center; /* Centraliza os links */
        flex-wrap: wrap; /* Permite que os links se movam para a linha seguinte se necessário */
    }

    .container-principal {
        display: flex;
        flex-direction: column-reverse; /* Alinha os itens em coluna */
        align-items: center; /* Centraliza os itens horizontalmente */
        padding: 5%;
    }

    .container-principal__conteudo {
        width: auto; /* Faz o conteúdo ocupar toda a largura */
        padding: 0 5%; /* Adiciona um pouco de espaçamento nas laterais */
    }

    .container-principal__conteudo__titulo {
        font-size: 25px;
    }

    .imagem-principal {
        width: 100%; /* Faz a imagem ocupar toda a largura */
        height: auto; /* Mantém a proporção da imagem */
    }

    .container-principal__links {
        display: flex; /* Ativa o flexbox */
        flex-direction: column; /* Alinha os botões em coluna */
        align-items: center; /* Centraliza os botões horizontalmente */
    }

    .container-principal__links__navegacao {
        width: 378px; /* Define a largura do botão */
        height: 68px; /* Define a altura do botão */
        margin: 10px 0; /* Adiciona um espaçamento vertical entre os botões */
        padding: 10px; /* Adiciona um padding interno, se necessário */
        box-sizing: border-box; /* Inclui padding e borda na largura total */
        text-align: center; /* Centraliza o texto dentro do botão */
        display: flex; /* Ativa o flexbox para o botão */
        justify-content: center; /* Centraliza o texto horizontalmente */
        align-items: center; /* Centraliza o texto verticalmente */
    }
}



